.environment-indicator, .debug-mode-indicator {
    display: none;
    height: 2.25rem;

    @media (width > 40rem) {
        display: flex;
    }

    code {
        font-size: var(--text-xs);
        margin-block-start: 1px;
        margin-inline-start: 0.25rem;
    }
}

.fi-sidebar-nav > .environment-indicator {
    flex-shrink: 0;
    margin-inline: -0.5rem;
}
