@import 'tailwindcss';
@plugin "daisyui" {
    prefix: "d-";
    themes: light --default, dark;
}

@source '../views/app.blade.php';
@source '../views/mamias/**/*.blade.php';
@source '../views/partials/**/*.blade.php';

@theme {
    --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif;
}
